.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.menuUser {
  display: flex;
  align-items: center;
}

.userImage {
  margin-right: 4px;
}

.userName {
  font-weight: 700;
  margin-right: 12px;
}
